.toggle {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 26px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  inset: 0;
  background-color: #cfd3d7;
  border-radius: 26px;
  cursor: pointer;
  transition: 0.25s;
}

.toggle-slider:before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.25s;
}

.toggle input:checked + .toggle-slider {
  background-color: #0176d3;
}

.toggle input:checked + .toggle-slider:before {
  transform: translateX(26px);
}
